@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: linear-gradient( 86.3deg,  rgba(0,0,0,1) 3.6%, rgba(51,51,51,1) 87.6% ); /* Dark Gray to Black */
  font-family: "Inter var", sans-serif;
  display: flex;
}



#root {
  flex: 1; /* Let the root fill the remaining space */
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Adjusted to center items horizontally */
  justify-content: center; /* Adjusted to center items vertically */
}

.picker {
  width: 90px !important;
  height: 90px !important;
}
.picker-container {
  position: relative;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.color-picker-wrapper {
  margin-bottom: 10px;
}

.selected-part {
  display: flex;
  align-items: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 1; /* Let the container fill the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 90vw;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  justify-content: space-between; /* Semi-transparent background */
  padding: 10px 20px; /* Adjust padding as needed */
}

.logo {
  font-family: "Inter var", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: cyan; /* Red (or any other color from your color scheme) */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.download-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF0000; /* Red */
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.color-picker-container {
  position: absolute;
  top: 50%;
  right: calc(80vw + 30px);
  transform: translateY(-50%);
  z-index: 999;
}

